---

volumes:
  stack_config:
    driver: local

services:
  # -- MAIN SERVICE --
  manager:
    image: ghcr.io/josh5/vpn-hls-proxy-docker-swarm:latest
    build:
      context: docker
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
        delay: 60s
      placement:
        constraints:
          - ${PLACEMENT_CONSTRAINT}
    environment:
      #@ Child Stack Management Config
      STACK_NAME: ${STACK_NAME:?}
      KEEP_ALIVE: ${KEEP_ALIVE:-}
      DIND_CPU_SHARES: ${DIND_CPU_SHARES:-}
      DIND_MTU: ${DIND_MTU:-}
      DIND_CPU_PERCENT: ${DIND_CPU_PERCENT:-}
      DIND_MEMLIMIT: ${DIND_MEMLIMIT:-0}
      #@ VPN Type Selection
      VPN_SERVICE_PROVIDER: ${VPN_SERVICE_PROVIDER:?}
      VPN_TYPE: ${VPN_TYPE:?}
      OPENVPN_USER: ${OPENVPN_USER:-}
      OPENVPN_PASSWORD: ${OPENVPN_PASSWORD:-}
      OPENVPN_ENDPOINT_PORT: ${OPENVPN_ENDPOINT_PORT:-}
      OPENVPN_CUSTOM_CONFIG: ${OPENVPN_CUSTOM_CONFIG:-}
      OPENVPN_KEY_PASSPHRASE: ${OPENVPN_KEY_PASSPHRASE:-}
      WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY:-}
      WIREGUARD_PRESHARED_KEY: ${WIREGUARD_PRESHARED_KEY:-}
      WIREGUARD_ADDRESSES: ${WIREGUARD_ADDRESSES:-}
      WIREGUARD_ENDPOINT_IP: ${WIREGUARD_ENDPOINT_IP:-}
      WIREGUARD_ENDPOINT_PORT: ${WIREGUARD_ENDPOINT_PORT:-}
      WIREGUARD_PUBLIC_KEY: ${WIREGUARD_PUBLIC_KEY:-}
      WIREGUARD_MTU: ${WIREGUARD_MTU:-1420}
      WIREGUARD_PERSISTENT_KEEPALIVE_INTERVAL: ${WIREGUARD_PERSISTENT_KEEPALIVE_INTERVAL:-}
      #@ Provider Config
      SERVER_COUNTRIES: ${SERVER_COUNTRIES:-}
      SERVER_REGIONS: ${SERVER_REGIONS:-}
      SERVER_CITIES: ${SERVER_CITIES:-}
      SERVER_HOSTNAMES: ${SERVER_HOSTNAMES:-}
      SERVER_CATEGORIES: ${SERVER_CATEGORIES:-}
      SERVER_NAMES: ${SERVER_NAMES:-}
      FIREWALL_VPN_INPUT_PORTS: ${FIREWALL_VPN_INPUT_PORTS:-}
      ISP: ${ISP:-}
      OWNED_ONLY: ${OWNED_ONLY:-}
      PREMIUM_ONLY: ${PREMIUM_ONLY:-}
      PRIVATE_INTERNET_ACCESS_OPENVPN_ENCRYPTION_PRESET: ${PRIVATE_INTERNET_ACCESS_OPENVPN_ENCRYPTION_PRESET:-}
      FREE_ONLY: ${FREE_ONLY:-}
      STREAM_ONLY: ${STREAM_ONLY:-}
      SECURE_CORE_ONLY: ${SECURE_CORE_ONLY:-}
      TOR_ONLY: ${TOR_ONLY:-}
      PORT_FORWARD_ONLY: ${PORT_FORWARD_ONLY:-}
      VPN_PORT_FORWARDING: ${VPN_PORT_FORWARDING:-}
      #@ DNS Settings
      DNS_ADDRESS: ${DNS_ADDRESS:-}
      DOT: ${DOT:-}
      BLOCK_MALICIOUS: ${BLOCK_MALICIOUS:-}
      BLOCK_SURVEILLANCE: ${BLOCK_SURVEILLANCE:-}
      BLOCK_ADS: ${BLOCK_ADS:-}
      #@ HLS Proxy Config
      # Provider
      HLS_PROXY_DOCKER_IMAGE: ghcr.io/josh5/warren-bank-hls-proxy:latest
      HLS_PROXY_LOG_LEVEL: ${HLS_PROXY_LOG_LEVEL:-}
      HLS_PROXY_HOST_IP: ${HLS_PROXY_HOST_IP:-}
      HLS_PROXY_PORT: ${HLS_PROXY_PORT:-}
      VPN_HEALTH_STARTUP_GRACE: ${VPN_HEALTH_STARTUP_GRACE:-}
      VPN_HEALTH_INTERVAL: ${VPN_HEALTH_INTERVAL:-}
      VPN_HEALTH_MAX_FAILS: ${VPN_HEALTH_MAX_FAILS:-}
      VPN_HEALTH_FAIL_ACTION: ${VPN_HEALTH_FAIL_ACTION:-}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      - type: volume
        source: stack_config
        target: /config
